@media screen and (max-width: 1600px) and (min-width: 1000px){
    #quiz-mainpage{
        background-color: #fefefe;
        width: 80%;
        margin: 2% auto;
        border-radius: 25px;
        box-shadow: 0 6px 20px 0 #00000030;
    }

    .quiz_box{
        width: 80%;
    }
}